html{
    height: 100vh;
    /* background-image: linear-gradient(to bottom, #010101, #141414, #191919, #333, #444); */
    font-family: 'Courier New', Courier, monospace;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

/* .top-fixed{
    background-color: #28b633;
    height: 25px;
} */

.header {
    margin-top: 25px !important;
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .logo img{
    width: 200px;
}

.header .resume {
    margin-left: 20px;
    color: #000;
}

.header .links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .links a{
    color: #D2D2D2;
    margin: 10px;
    text-decoration: none;
    padding: 5px 20px;

    border-radius: 5px;

    animation: links 4000ms infinite linear;

    font-size: 17px;
}

.content{
    margin-top: 25px !important;
    max-width: 700px;
    margin: 0 auto;
    color: #D2D2D2;
}

.content .title{
    text-align: center;
    animation: title 4000ms infinite linear;
}

.content .languages{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content .languages .language{
    width: 20%;
    margin: 10px;
    padding: 25px;
    background-color: royalblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    animation: rotate 4000ms infinite linear;

    color: #FFF;
    font-size: 18px;
}

@keyframes title{
    0% { 
        color: #000;
    } 
    50%{ 
        color: #191919;
    }
    100% { 
        color: #000;
    }
}

@keyframes links{
    0% { 
        background-color: #000;
    } 
    50%{ 
        background-color: #191919;
    }
    100% { 
        background-color: #000;
    }
}

@keyframes rotate{
    0% { 
        background-color: indigo;
    } 
    50%{ 
        background-color: slateblue;
    }
    100% { 
        background-color: indigo;
    }
}